.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: rgb(13, 51, 128);
  background: linear-gradient(rgb(232, 240, 255) 0%, rgb(255, 255, 255) 52.08%) !important;
}

.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 200ms ease-in 0s;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(13, 51, 128);
  position: fixed;
  z-index: 1001;
  top: 0px;
  right: 0px;
  left: 0px;
}
.headerRight {
  display: flex;
  align-items: center;
}
.github {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 24px;
}
.description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8rem 2rem 2rem 2rem;
  min-height: 100vh;
  color: rgb(13, 51, 128);
}
.descriptionText {
  max-width: 35rem;
}
.description h2 {
  font-weight: 700;
  font-size: 3.5rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.description strong {
  color: rgb(17, 93, 246);
}
.description img {
  margin-left: 15rem;
  width: 28rem;
  height: 28rem;
}

.descriptionText p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgb(13, 51, 128);
  opacity: 0.8;
  margin-bottom: 2rem;
}

.btn {
  width: 200px;
  font-size: 18px;
}

@media (max-width: 1000px)  {
  .description h2 {
    font-weight: 600;
    font-size: 3rem;
  }
  .description img {
    margin-left: 7rem;
    width: 22rem;
    height: 22rem;
  }

}
