.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: rgb(13, 51, 128);;
}

.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(13, 51, 128);
  position: fixed;
  z-index: 1001;
  top: 0px;
  right: 0px;
  left: 0px;
}
.description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  color: rgb(13, 51, 128);
}
.description h2 {
  font-weight: 700;
  font-size: 3.5rem;
}
.description strong {
  color: rgb(17, 93, 246);
}
