.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: rgb(13, 51, 128);;
}

.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(13, 51, 128);
  position: fixed;
  z-index: 1001;
  top: 0px;
  right: 0px;
  left: 0px;
}
.description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8rem 2rem 2rem 2rem;
  min-height: 100vh;
  color: rgb(13, 51, 128);
}
.descriptionText {
  max-width: 35rem;
}
.description h2 {
  font-weight: 700;
  font-size: 3.5rem;
  padding-top: 4rem;
  margin-bottom: 2rem;
}
.description strong {
  color: rgb(17, 93, 246);
}
.description img {
  margin-left: 15rem;
  width: 28rem;
  height: 28rem;
}

.descriptionText p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgb(13, 51, 128);
  opacity: 0.8;
  margin-bottom: 2rem;
}

.btn {
  width: 200px;
  font-size: 18px;
}
