.main {
  background: url(/images/logo-huge.png) -195px -64px / 666px 416px no-repeat, linear-gradient(rgb(232, 240, 255) 0%, rgb(255, 255, 255) 52%, rgb(255, 255, 255) 100%) 0px 0px / auto;
  background-repeat: no-repeat;
  background-position: -195px -64px, 0px 0px;

  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  color: rgb(13, 51, 128);
}

.loginBox {
  padding: 4rem;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0px 0px 2rem;
  text-align: left;
  color: rgb(13, 51, 128);
}
.formBox {
  width: 30rem;
}
.formLabel {
  margin-bottom: 24px;
}
.loginBtn {
  margin-top: 2rem;
  width: 100%;
  font-size: 600 !important;
  height: 3rem !important;
  text-align: center !important;
  border-radius: 1.5rem !important;
  font-size: 1rem !important;
}
.signUp {
  margin-top: 2rem;
  color: rgb(96, 105, 119);
  font-size: 0.8rem;
  font-weight: 500;
}
.signUp span {
  cursor: pointer;
  color: rgb(17, 93, 246);
  transition: color 100ms linear 0s;
}
.signUp span:hover {
  color: rgb(13, 51, 128);
}
.loginLogo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(232, 240, 255);
  flex: 0 0 30em;
  background: url(/images/logo-huge-dark.png) left -240px bottom -200px / 666px 416px no-repeat, 0px 0px / auto rgb(13, 51, 128);
  background-repeat: no-repeat;
  background-position: left -240px bottom -200px, 0px 0px;
}
@media (max-width: 1000px)  {
  .main {
    justify-content: center;
  }
  .loginLogo {
    display: none;
  }

}
.loginLogo h2 {
  padding: 0 30px;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}