.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  backdrop-filter: blur(7px);
  background-color: rgb(15, 20, 37);
  transition: all 200ms ease-in 0s;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  position: fixed;
  z-index: 1001;
  top: 0px;
  right: 0px;
  left: 0px;
}
.headerRight {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.userName {
  padding: 0px 2.25rem 0px 1rem;
  border: 1px solid rgba(17, 93, 246, 0.2) !important;
  color: rgb(13, 51, 128) !important;
  border-radius: 1.5rem !important;
  font-weight: 600 !important;
}
.github {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 24px;
}